body{
    background-image: url(../img/background.jpg);
    word-break: break-all;
}

h1 {
    color: white;
    text-align: center;
}

.card{
    width: auto !important;
    min-width: 18rem;
}

.gameCard{
    display: flex;
    justify-content: center;
}

.answerRowCard{
    display: flex;
    justify-content: center;
}

.textCenter{
    text-align: center;
}

.quizCardFooter{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid lightgray;
}

.answerBtn,.quizBtn:hover{
    cursor: pointer;
    background-color: lightgray;
}

.width100{
    width: 100%;
}

.restartQuiz{
    display: flex;
    justify-content: center;
}

.gameMenu{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.yourQuizBtn{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inputfieldQuizInfo{
    width: 150px;
}

.yourQuizBtnEnter{
    width: 160px;
}

@media (max-width : 450px){
    .mediaInputAmount{
        display: flex;
        flex-direction: column;
    }
    .mediaAmountInput,.mediawidth100{
        width: 100% !important;
    }
    .inputfieldQuizInfo{
        width: unset;
    }
    
}