body{
    margin:0;
    background-image: url(/img/background.jpg);
}

h1 {
    color: white;
    text-align: center;
}

.card{
    width: auto !important;
    min-width: 18rem;
}

.gameCard{
    display: flex;
    justify-content: center;
}

.answerRowCard{
    display: flex;
    justify-content: center;
}

.textCenter{
    text-align: center;
}

.quizCardFooter{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid lightgray;
}

.answerBtn,.quizBtn:hover{
    cursor: pointer;
    background-color: lightgray;
}

.width100{
    width: 100%;
}

.restartQuiz{
    display: flex;
    justify-content: center;
}

.gameMenu{
    display: flex;
    align-items: center;
    flex-direction: column;
}